<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Background</key>
	<dict>
		<key>title_color_unsel</key>
		<string>#999999</string>
		<key>title_color_sel</key>
		<string></string>
		<key>image</key>
		<string>home_menu_bg</string>
		<key>color</key>
		<string>0</string>
		<key>height</key>
		<integer>65</integer>
	</dict>
	<key>TabItems</key>
	<array>
		<dict>
			<key>icon</key>
			<dict>
				<key>icon_y</key>
				<integer>20</integer>
				<key>icon_height</key>
				<integer>25</integer>
				<key>icon_width</key>
				<integer>25</integer>
				<key>icon_sel</key>
				<string>main_sel</string>
				<key>icon_unsel</key>
				<string>main_unsel</string>
			</dict>
			<key>title</key>
			<dict>
				<key>title_y</key>
				<integer>45</integer>
				<key>title_size</key>
				<integer>12</integer>
				<key>title_str</key>
				<string>首页</string>
			</dict>
			<key>controller</key>
			<string>MainViewController</string>
		</dict>
		<dict>
			<key>icon</key>
			<dict>
				<key>icon_y</key>
				<integer>20</integer>
				<key>icon_height</key>
				<integer>25</integer>
				<key>icon_width</key>
				<integer>25</integer>
				<key>icon_sel</key>
				<string>hall_sel</string>
				<key>icon_unsel</key>
				<string>hall_unsel</string>
			</dict>
			<key>title</key>
			<dict>
				<key>title_y</key>
				<integer>45</integer>
				<key>title_size</key>
				<integer>12</integer>
				<key>title_str</key>
				<string>服务</string>
			</dict>
			<key>controller</key>
			<string>ServiceViewController</string>
		</dict>
		<dict>
			<key>icon</key>
			<dict>
				<key>icon_y</key>
				<integer>8</integer>
				<key>icon_height</key>
				<integer>54</integer>
				<key>icon_width</key>
				<integer>54</integer>
				<key>icon_sel</key>
				<string>voice_sel</string>
				<key>icon_unsel</key>
				<string>voice_unsel</string>
			</dict>
			<key>title</key>
			<dict>
				<key>title_y</key>
				<integer>0</integer>
				<key>title_size</key>
				<integer>0</integer>
				<key>title_str</key>
				<string>首页</string>
			</dict>
			<key>controller</key>
			<string>VoiceViewController</string>
		</dict>
		<dict>
			<key>icon</key>
			<dict>
				<key>icon_y</key>
				<integer>20</integer>
				<key>icon_height</key>
				<integer>25</integer>
				<key>icon_width</key>
				<integer>25</integer>
				<key>icon_sel</key>
				<string>business_sel</string>
				<key>icon_unsel</key>
				<string>business_unsel</string>
			</dict>
			<key>title</key>
			<dict>
				<key>title_y</key>
				<integer>45</integer>
				<key>title_size</key>
				<integer>12</integer>
				<key>title_str</key>
				<string>发现</string>
			</dict>
			<key>controller</key>
			<string>DiscoverViewController</string>
		</dict>
		<dict>
			<key>icon</key>
			<dict>
				<key>icon_y</key>
				<integer>20</integer>
				<key>icon_height</key>
				<integer>25</integer>
				<key>icon_width</key>
				<integer>25</integer>
				<key>icon_sel</key>
				<string>mine_sel</string>
				<key>icon_unsel</key>
				<string>mine_unsel</string>
			</dict>
			<key>title</key>
			<dict>
				<key>title_y</key>
				<integer>45</integer>
				<key>title_size</key>
				<integer>12</integer>
				<key>title_str</key>
				<string>我的</string>
			</dict>
			<key>controller</key>
			<string>MineViewController</string>
		</dict>
	</array>
	<key>Version</key>
	<string>1.0</string>
</dict>
</plist>
